NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=cercu
DB_PASSWORD=cercu_dev_2024
DB_DATABASE=cercu_db

JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

OTP_MOCK=true
OTP_MOCK_CODE=1234
OTP_EXPIRY_MINUTES=5

CORS_ORIGIN=http://localhost:3001